<section class="my-10">
  <!-- Resumen de estados -->
  <mat-card class="mb-4 p-4">
    <mat-card-title>Resumen por estado</mat-card-title>
    <div
      *ngFor="let estado of stateCounts | keyvalue"
      class="flex items-center gap-2"
    >
      <span
        class="w-3 h-3 rounded-full inline-block"
        [style.background]="getColorForState(estado.key)"
      ></span>
      <span>{{ estado.key | titlecase }}: {{ estado.value }}</span>
    </div>
  </mat-card>

  <!-- Calendario -->
  <mat-card class="calendar-container p-4">
    <mat-card-title>Mis Órdenes de Alquiler</mat-card-title>

    <full-calendar
      *ngIf="calendarOptions.events"
      [options]="calendarOptions"
    ></full-calendar>
  </mat-card>
</section>
