<header
  *ngIf="!isAuthScreen && isAuth"
  class="bg-gradient-to-r from-amber-100 via-orange-200 to-amber-300 fixed top-0 w-full z-50!"
>
  <app-nav-bar />

  <app-category />
</header>

<main class="" [ngClass]="{ ' bg-orange-100  pt-40': !isAuthScreen && isAuth }">
  <div
    [ngClass]="{ 'text-center h-full  mx-auto container pb-4 ': !isAuthScreen && isAuth }"
  >
    <router-outlet></router-outlet>
  </div>
</main>


<app-back-to-top-button *ngIf="!isAuthScreen && isAuth" />

<app-footer *ngIf="!isAuthScreen && isAuth" />
