<div class="w-full bg-gradient-to-r from-amber-50  to-amber-200 p-8 rounded-lg shadow-lg backdrop-blur-md bg-opacity-70">
    
    <h2 class="text-2xl font-semibold text-gray-800 text-center mb-6 mx-25">Crear Cuenta</h2>
  
    <form>
      <!-- Usuario -->
      <div class="mb-4">
        <label for="username" class="block text-gray-700 font-medium mb-1">Usuario</label>
        <input type="text" id="username" class="w-full px-4 py-2 border rounded-lg focus:ring-2 focus:ring-orange-500" placeholder="Elige tu usuario" required>
      </div>
  
      <!-- Correo electrónico -->
      <div class="mb-4">
        <label for="email" class="block text-gray-700 font-medium mb-1">Correo Electrónico</label>
        <input type="email" id="email" class="w-full px-4 py-2 border rounded-lg focus:ring-2 focus:ring-orange-500" placeholder="example@correo.com" required>
      </div>
  
      <!-- Contraseña -->
      <div class="mb-4">
        <label for="password" class="block text-gray-700 font-medium mb-1">Contraseña</label>
        <input type="password" id="password" class="w-full px-4 py-2 border rounded-lg focus:ring-2 focus:ring-orange-500" placeholder="••••••••" required>
      </div>
  
      <!-- Confirmar Contraseña -->
      <div class="mb-4">
        <label for="confirmPassword" class="block text-gray-700 font-medium mb-1">Confirmar Contraseña</label>
        <input type="password" id="confirmPassword" class="w-full px-4 py-2 border rounded-lg focus:ring-2 focus:ring-orange-500" placeholder="••••••••" required>
      </div>
  
      <!-- Botón de Registro -->
      <button type="submit" class="w-full bg-orange-600 text-white py-2 rounded-lg shadow-md hover:bg-orange-700 transition-all">
        Registrarse
      </button>
    </form>
  
    <!-- Separador -->
    <div class="my-4 text-center text-gray-600 mt-10">¿Ya tienes una cuenta?</div>
  
    <!-- Botón de Iniciar sesión -->
    <button routerLink="/auth/sign-in" class="w-full bg-orange-500 text-white py-2 rounded-lg shadow-md hover:bg-orange-600 transition-all">
      Iniciar Sesión
    </button>
  </div>
  
