<section class=" p-4 rounded-lg s mr-4">
    <div class="grid grid-cols-1  gap-6">
      
      <!-- Categorías -->
      <article class="p-4  ">
        <h3 class="text-lg font-semibold mb-2">Categorías</h3>
        <ul class="space-y-2">
          <li class="p-2 bg-white rounded-md shadow-sm cursor-pointer hover:bg-gray-200">Hogar</li>
          <li class="p-2 bg-white rounded-md shadow-sm cursor-pointer hover:bg-gray-200">Electrónica</li>
          <li class="p-2 bg-white rounded-md shadow-sm cursor-pointer hover:bg-gray-200">Ropa</li>
        </ul>
      </article>
  
      <!-- Ubicación -->
      <article class=" p-4 ">
        <h3 class="text-lg font-semibold mb-2">Ubicación</h3>
        <ul class="space-y-2">
          <li class="p-2 bg-white rounded-md shadow-sm cursor-pointer hover:bg-gray-200">CABA</li>
          <li class="p-2 bg-white rounded-md shadow-sm cursor-pointer hover:bg-gray-200">Buenos Aires</li>
          <li class="p-2 bg-white rounded-md shadow-sm cursor-pointer hover:bg-gray-200">Córdoba</li>
        </ul>
      </article>
  
      <!-- Precios -->
      <article class=" p-4">
        <h3 class="text-lg font-semibold mb-2">Precios</h3>
        <ul class="space-y-2">
          <li class="p-2 bg-white rounded-md shadow-sm cursor-pointer hover:bg-gray-200">Menor de $200.00</li>
          <li class="p-2 bg-white rounded-md shadow-sm cursor-pointer hover:bg-gray-200">$200 - $500</li>
          <li class="p-2 bg-white rounded-md shadow-sm cursor-pointer hover:bg-gray-200">Mayor de $500</li>
        </ul>
      </article>
  
    </div>
  </section>
  