<nav class="flex justify-between items-center p-4 max-w-7xl mx-auto">
  <div class="text-3xl font-bold text-gray-800 w-1/6">
    <a href="/" class="flex items-center gap-2">
      <span>Necesito</span>
    </a>
  </div>

  <div class="flex items-center space-x-2 w-3/6">
    <input
      type="text"
      placeholder="Buscar productos..."
      class="px-4 py-2 pr-10 border rounded-lg focus:outline-none focus:ring-2 focus:ring-orange-500 w-124"
    />
    <button
      class="bg-orange-600 text-white px-4 py-2 rounded-lg shadow-md hover:bg-orange-700 transition-all"
    >
      Buscar
    </button>
  </div>

  <div class="">
    <!--  -->
    <ng-container *ngIf="isLoggedIn; else loggedOut">
      <div class="relative inline-block text-left" id="user-menu">
        <!-- Botón que despliega el menú -->
        <button
          (click)="toggleDropdown()"
          type="button"
          class="inline-flex justify-center w-full rounded-md border border-gray-300 shadow-sm px-4 py-2 bg-white text-sm font-medium text-gray-700 hover:bg-gray-50 focus:outline-none"
          aria-haspopup="true"
          [attr.aria-expanded]="dropdownOpen"
        >
          Hola, {{ getUserName() }}
          <lucide-icon
            [img]="ChevronDown"
            class="w-8 h-4 ml-2 transition-transform duration-200"
            [ngClass]="{ 'rotate-180': dropdownOpen }"
          ></lucide-icon>
        </button>

        <!-- Menú desplegable -->
        <div
          *ngIf="dropdownOpen"
          class="origin-top-right absolute right-0 mt-2 w-56 rounded-md shadow-lg bg-white ring-1 ring-black ring-opacity-5 z-10"
          role="menu"
          aria-orientation="vertical"
          aria-labelledby="user-menu-button"
        >
          <div class="py-1" role="none">
            <!-- Opción: Perfil -->
            <button
              class="text-gray-700 flex items-center gap-2 px-4 py-2 text-sm w-full text-left hover:bg-gray-100"
              role="menuitem"
              (click)="toggleDropdown()"
              routerLink="/profile"
            >
              <lucide-icon [img]="User" class="w-5 h-5"></lucide-icon>
              Perfil
            </button>

            <!-- Opción: Publicar Producto -->
            <button
              class="text-gray-700 flex items-center gap-2 px-4 py-2 text-sm w-full text-left hover:bg-gray-100"
              role="menuitem"
              (click)="toggleDropdown()"
              routerLink="/profile"
            >
              <lucide-icon [img]="Package" class="w-5 h-5"></lucide-icon>
              Publicar Producto
            </button>

            <!-- Opción: Perfil -->
            <button
              class="text-gray-700 flex items-center gap-2 px-4 py-2 text-sm w-full text-left hover:bg-gray-100"
              role="menuitem"
              (click)="toggleDropdown()"
              routerLink="/product-status"
            >
              <lucide-icon [img]="Info" class="w-5 h-5"></lucide-icon>
              Estatus de Productos
            </button>

            <!-- Opción: Carrito -->
            <button
              class="text-gray-700 flex items-center gap-2 px-4 py-2 text-sm w-full text-left hover:bg-gray-100"
              role="menuitem"
              (click)="toggleDropdown()"
            >
              <lucide-icon [img]="ShoppingCart" class="w-5 h-5"></lucide-icon>
              Carrito
            </button>
            <!-- Opción: Logout -->
            <button
              (click)="logout()"
              class="text-gray-700 flex items-center gap-2 px-4 py-2 text-sm w-full text-left hover:bg-gray-100"
              role="menuitem"
              (click)="toggleDropdown()"
            >
              <lucide-icon [img]="LogOut" class="w-5 h-5"></lucide-icon>
              Logout
            </button>
          </div>
        </div>
      </div>
    </ng-container>

    <!--  -->
    <ng-template #loggedOut>
      <div class="flex justify-end items-center gap-4">
        <!-- Botón Iniciar Sesión (Acción primaria) -->
        <button
          routerLink="/auth/sign-in"
          class="px-4 py-2 text-white bg-orange-600 rounded-lg shadow-md hover:bg-orange-700 transition-colors duration-200 ease-in-out focus:outline-none focus:ring-2 focus:ring-orange-500"
          aria-label="Iniciar Sesión"
        >
          Iniciar Sesión
        </button>

        <!-- Botón Registrarse (Acción secundaria, estilo outline) -->
        <button
          routerLink="/auth/sign-up"
          class="px-4 py-2 text-orange-600 bg-white border border-orange-600 rounded-lg shadow-md hover:bg-orange-100 transition-colors duration-200 ease-in-out focus:outline-none focus:ring-2 focus:ring-orange-500"
          aria-label="Registrarse"
        >
          Registrarse
        </button>
      </div>
    </ng-template>
  </div>
</nav>
